:root {
  --velvet: #094af1;
  --velvetBack: #F5E9FF;
  --margin: 8px;
};

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
};


/* h1, p {
  transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
} */

textarea {
 /*  background: transparent; */
  border: none;
  resize: none;
  /* background-color: inherit; */
  /* color: #000000; */
  /* border-left: 1px solid black; */
  /* padding: 10px; */
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  /* border-bottom: 10px solid black; */
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: left;
  display: flex;
  align-self: center;
  background-color: inherit;
  border-left: 4px solid white;
  border-right: 4px solid white;
  border-bottom: none;
  border-top: none;
  outline: none;
  height: 100%;
  padding-top: 10px;
}

.row {
  /* white-space: pre-wrap; */
  height: 80px;
  border-radius: 8px;
  /* border-top: 1px solid white; */
  margin-bottom: 8px;
}

.hour {
  /* background-color: #ffffff; */
  color: #000000;
  /* border-top: 1px dashed #000000; */
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-top: 12px;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

#saveBtn {
  /* border-left: 1px solid black; */ 
  border-top-right-radius: 8px; 
  border-bottom-right-radius: 8px; 
  /* background-color: #06aed5; */ 
  /* color: white; */
  max-height: 80px;
  border: none;
  background-color: inherit
}

/* .saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
} */

.icon {
  max-width: 24px;
  max-height: 24px;
}




