:root {
  --velvet: #6B00C5;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
}

textarea {
  border: none;
  resize: none;
}

#textarea::placeholder {
  color: inherit;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: left;
  display: flex;
  align-self: center;
  background-color: inherit;
  border-left: 4px solid white;
  border-right: 4px solid white;
  border-bottom: none;
  border-top: none;
  outline: none;
  height: 100%;
  padding-top: 10px;
  color: inherit;
}

.row {
  height: 80px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.hour {
  color: inherit;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-top: 12px;
}

.past {
  background-color: #F9F9F9;
  color: #AAAAAA;
}

.present {
  background-color: #F5E9FF;
  color: var(--velvet);
}

.future {
  background-color: #F6F6F6;
  color: #535353;
}

#saveBtn {
  border-top-right-radius: 8px; 
  border-bottom-right-radius: 8px; 
  max-height: 80px;
  border: none;
  background-color: inherit;
};

#saveBtn:active {
border-color: var(--velvet);
}

.icon {
  max-width: 24px;
  max-height: 24px;
}




