:root {
  --velvet: #6B00C5;
};

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
};

h1.main-heading {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 80px !important;
  font-weight: 600 !important;
  color: var(--velvet) !important;
};

p.lead {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 24px !important;
  font-weight: 400 !important;
  color: var(--velvet) !important;
};


textarea {
 /*  background: transparent; */
  border: none;
  resize: none;
  /* background-color: inherit; */
  /* color: #000000; */
  /* border-left: 1px solid black; */
  /* padding: 10px; */
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  /* border-bottom: 10px solid black; */
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: left;
  display: flex;
  align-self: center;
  background-color: inherit;
  border-left: 4px solid white;
  border-right: 4px solid white;
  border-bottom: none;
  border-top: none;
  outline: none;
  height: 100%;
  padding-top: 10px;
  color: inherit;
}

.row {
  /* white-space: pre-wrap; */
  height: 80px;
  border-radius: 8px;
  /* border-top: 1px solid white; */
  margin-bottom: 8px;
}

.hour {
  color: inherit;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-top: 12px;
}

.past {
  background-color: #F9F9F9;
  color: #AAAAAA;
}

.present {
  background-color: #F5E9FF;
  color: var(--velvet);
}

.future {
  background-color: #F6F6F6;
  color: #535353;
}

#saveBtn {
  /* border-left: 1px solid black; */ 
  border-top-right-radius: 8px; 
  border-bottom-right-radius: 8px; 
  /* background-color: #06aed5; */ 
  /* color: white; */
  max-height: 80px;
  border: none;
  background-color: inherit
}

.icon {
  max-width: 24px;
  max-height: 24px;
}




